[Unit]
Description=Displays current battery percentage, date & time on AniMe matrix.
Requires=asusd.service
After=asusd.service

[Service]
WorkingDirectory=/opt/anime-matrix-datetime-battery
User=%USER
Type=simple
ExecStart=python3 main.py
ExecStop=asusctl anime -e false
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
